<html xmlns:th="http://www.thymeleaf.org" th:fragment="main_layout(page_content)" data-theme="light">
<head>
  <meta charset="UTF-8">
  <title>SentinelPay - Financial System</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.19/dist/full.min.css" rel="stylesheet" />
</head>
<body class="bg-slate-50">
<div class="flex h-screen">
  <aside class="w-64 bg-indigo-900 text-white p-6 hidden md:block">
    <h1 class="text-2xl font-bold mb-10 text-center text-indigo-200">SentinelPay</h1>
    <nav class="space-y-4">
      <a th:href="@{/}" class="flex items-center space-x-3 p-2 rounded hover:bg-indigo-800">
        <span>Dashboard</span>
      </a>
      <a th:href="@{/transfer}" class="flex items-center space-x-3 p-2 rounded hover:bg-indigo-800">
        <span>Giao dịch</span>
      </a>
    </nav>
  </aside>

  <main class="flex-1 overflow-y-auto">
    <header class="bg-white p-4 shadow-sm flex justify-between items-center border-b border-slate-200">
      <span class="font-semibold text-slate-700">Chào mừng, Vương Developer!</span>
    </header>

    <div class="p-6">
      <div th:replace="${page_content}">
      </div>
    </div>
  </main>
</div>
</body>
</html>